@import "sm-grid";
@import "md-grid";
@import "lg-grid";

[class^="sm-col"], [class*=" sm-col"],
[class^="md-col"], [class*=" md-col"],
[class^="lg-col"], [class*=" lg-col"] {
  float: left;
  vertical-align: top;
  box-sizing: border-box;
}

.inline-floats{
  font-size: 0;
  & > * {
    float: none;
    display: inline-block;
  }
}